{% extends "base.html" %}
{% block content %}
{% load blog_tags %}
<h2>BLOGS</h2>
		{% for post in posts %}
		<h2>{{post.title}}</h2>
		  {% if post.teaser_image %}
		  	      <p><a href="/blog/post/{{post.id}}/"><img src="{% get_teaser_image post.teaser_image.path 'medium' %}/" /></a></p>
		  {% endif %}		  
		  <p>{{post.teaser_content|safe|linebreaks|urlizetrunc:15|truncatechars:30}}</p>
		  <div class="read-me"><a href="/blog/post/{{post.id}}/">read more</a></div>
		{% endfor %}

        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

{% endblock %}
