{% extends "base.html" %}
<li>{% block nav-blog %}<a href="/blog/" class="active"><div>My Blog<br/><span>Tech News & Other</span></div></a>{% endblock %}</li>
{% block content %}
{% if post %}
	{% for blog_post in post %}
	
	<h2>{{blog_post.title}}</h2>
	<p>{{blog_post.content|safe|linebreaks}}</p>
		{% if blog_post.source_url %}
		<p>Source URL: <a href="{{ blog_post.source_url}}" target="new">{{ blog_post.source_url}}</a></p>
		{% endif %}
	{% endfor %}
{% else %}
    <p>No such blog post entry available.</p>
{% endif %}




{% endblock %}
